.App {
  padding-top: 1em;
}
/* start */
.title {
  color: orange;
}
a {
  text-decoration: none;
  color: #222222;
}
button {
  cursor: pointer;
}
.loader-holder {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.story {
  transition: all 1500ms ease-in-out;
  border: 1px solid #aaa;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px #999;
}
.story-left{
  transform: translate(-120%);
}
.story-right {
  transform: translate(120%);
}
.story-scale {
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 1;
}
.story-scale:hover {
  transform: scale(1.1);
  z-index: 10;
}
.item-header a {
  color: black !important;
}
.user-link {
  color: rgba(0, 0, 0, 0.4) !important;
}
.user-link:hover {
  color: black;
  font-size: 1.1em;
}
